<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src= '{{ book["image-url"] }}' alt= '{{ book.name }}'>
      <div class="caption">
        <h3>{{ book.name }}</h3>
        <h5>{{ book.author }}</h5>
        <p>{{ book.description }}</p>
        <p>{{ book.rating }}</p>
        <div>
           <h2>rating-display</h2>
        </div>
        <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Download</a></p>
      </div>
    </div>
  </div>
</div>